.topnav {
    background-color: #99CCFF;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

h1 {
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:floralwhite;
}

/* .covid19 {
    display: block;
    width: 17%;
} */

.barry-barry-logo {
    width: 100px;
    height: 100px;
}

.barry-md-logo {
    width: 100px;
    height: 100px;
}

