table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:lightblue;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px 15px;
    width: 200px;
}
